.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  color: #1bb99a
}

p span {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

form>input[type="text"] {
  font-size: 20px;
  margin-bottom: 5px;
}

form>input[type="button"] { 
  background-color: #1bb99a;
  color: #fff;
  border: 0;
  padding: 10px;
  font-size: 20px;
}

  